<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Add a New chat</h1>
    <form method="POST" action="/chats">
    <input placeholder="Who is this sending Message" type="text" name="from">
    <br>
    <br>
    <input placeholder="whom to send messgae" type="text" name="to">
    <br>
    <br>
    <textarea placeholder="Enter message" rows="4" cols="30" name="msg"></textarea>
    <br>
    <br>
     <button type="submit">Submit</button>
    </form>
</body>
</html>